venv
\venv
\Include
\venv\Include\pyconfig.h
\venv\Include\pyconfig.h.orig
\venv\Include\pydtrace.h
\venv\Include\pydtrace.h.orig
\venv\Include\pyerrors.h
env
\env
.env
family_planner.db
__pycache__
\__pycache__
\__pycache__\*.cpython-39.pyc
\__pycache__\*.cpython-310.pyc
\__pycache__\*.cpython-311.pyc
\__pycache__\*.cpython-312.pyc
\__pycache__\*.cpython-313.pyc